.mainContact {
    background: #0c0531;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
    padding-bottom: 4rem;
    height: fit-content;
}

.mainContactDiv {
    height: 100%;
    background: #0c0531;
}

.contact-icons {
    color: white !important;
}