#root {
    background-color: #0c0531;
}

.main-modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 0%;
    z-index: 2000;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: hidden;
    transition: all 0.5s ease-in-out !important;
}

.main-modal-backdrop.active {
    display: flex;
    height: 100%;
    top: 0;
    visibility: visible;
    transition: all 0.5s ease-in-out !important;
}

.main-modal {
    background-color: #0c0531 !important;
    color: white;
    width: 100%;
    border-radius: 20px 20px 0 0 !important;
    overflow-y: scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-modal::-webkit-scrollbar {
    display: none;
}

.closeMark {
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.25s ease-in-out;
}

.closeMark:hover {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    color: white;
}

.projectinfo span {
    color: white !important;
    display: inline !important;
}

.modal-container {
    height: 93%;
    width: 100%;
}

.modal-carousel-div {
    height: 100%;
    width: 100%;
}

.main-carousel {
    overflow: hidden;
    height: 100%;
    border-radius: 40px;
}

.carousel-inner {
    height: 100% !important;
    border-radius: 20px;
}

.carousel-item {
    height: 50vh;
    border-radius: 20px;
    overflow: hidden;
}

.main-carousel img {
    height: 100%;
    object-fit: contain;
    border-radius: 20px !important;
}


.carousel-control-next,
.carousel-control-prev {
    display: none !important;
}

.carousel-indicators button,
.carousel-indicators [data-bs-target] {
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
}

button {
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
}