.mainProject {
    background: #0c0531;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 9rem;
    padding-bottom: 4rem;
}

.mainProjectDiv {
    height: 100%;
    background: #0c0531;
}

.project-icon {
    color: #93f9c8 !important;
}